doctype html
html
  head
    title Página Inicial
    meta(charset="utf-8")
    link(rel="icon", href="public/images/favicon.png")
    link(rel="stylesheet", href="/stylesheets/w3.css")

  body(class="w3-blue")
    header(class="w3-container w3-blue")
      h1 
        b Página inicial
    
    a(href="/compositores", style="text-decoration:none") 
      button(class="w3-button w3-block w3-light-blue") 
        h2 Compositores 

    a(href="/periodos", style="text-decoration:none") 
      button(class="w3-button w3-block w3-light-blue") 
        h2 Periodos 

    a(href="/compositores/add", style="text-decoration:none") 
      button(class="w3-button w3-block w3-light-blue") 
        h2 Adicionar Compositor
        
    a(href="/periodos/add", style="text-decoration:none") 
      button(class="w3-button w3-block w3-light-blue") 
        h2 Adicionar Periodo 
    
    footer(class="w3-container w3-blue")
    address Miguel Guimarães (Web Engineering 2024)