html
    head
      title Compositores Periodo
      meta(charset="utf-8")
      link(rel="icon", href="public/images/favicon.png")
      link(rel="stylesheet", href="/stylesheets/w3.css")

    body
      div.w3-bar.w3-black
        a(href="/", class="w3-bar-item w3-button") Inicio
        a(href="/compositores", class="w3-bar-item w3-button") Compositores
        a(href="/periodos", class="w3-bar-item w3-button") Periodos
        a(href="/compositores/add", class="w3-bar-item w3-button") Add Compositor
        a(href="/periodos/add", class="w3-bar-item w3-button") Add Periodo

      div.w3-card-4
        header.w3-container.w3-blue
          h1 #{periodo}
        
      ul.w3-ul.w3-light-blue

        each dado in dados
          li 
            a(href=`/compositores/${dado.id}`, style="text-decoration:none")
              i 
                h4 #{dado.nome}
    
      footer(class="w3-container w3-blue")
        address Miguel Guimarães (Web Engineering 2024) [<a href="/periodos">Voltar</a>]